n: KPI Dashboard
total:
	count: Celkový počet
	registrations:
		title: Registrovaní uživatelé
		tooltip: Celkový počet všech uživatelů v systému. Platící i neplatící.
	active_registrations:
		title: Aktivní registrace
		tooltip: 'Celkový počet všech aktivních (nebyla odstraněna) uživatelů v systému. I platící i neplatící.'
		warning: 'Pro zobrazení správné hodnoty musíte aktualizovat počet v detailu segmentu.'
	subscriptions:
		title: Všechny předplatné
		tooltip: Celkový počet předplatných za celou historii. Obsahuje i ukončené a budoucí předplatné.
	payments:
		title: Celkový počet plateb
		tooltip: Celkový počet plateb za dané období
	money:
		title: Celková suma peněz
		tooltip: Celková suma peněz v systému
actual:
	subscribers:
		count: Aktuální počet předplatitelů
	paying_subscribers:
		count: Předplatitelé s placeným předplatným
	system:
		count: Aktuální počet
	subscriptions:
		title: Předplatné
		tooltip: "Počet předplatných, které aktuálně probíhají. Začaly v minulosti a končí v budoucnosti. Nejedná se o unikátní uživatele."
	locked_articles:
		title: Zamčené články
		tooltip: "Počet článků, které jsou aktuálně zamčené"
	mail_send:
		title: Odeslané maily
		tooltip: Počet všech mailů odeslaných ze systému do aktuálního času.
time:
	today: Dnes
	month: Tento měsíc
	tomorrow: Zítra
	after_tomorrow: Pozítří
	seven_days: +7 dní
	fourteen_days: + 14 dní
	thirtyone_days: +31 dní
	last_month_day: 'Minulý měsíc (relativně do dneška)'
users:
	title: Uživatelé
	new:
		title: Noví uživatelé
		tooltip: Porovnanie s celkovým počtom nových používateľov za zvolené obdobie. Obsahuje platiacich aj neplatiacich nových používateľov zaregistrovaných medzi %start% a %end%
	subscribers: Předplatitelé
	paying_subscribers: Platící předplatitelé
	registrations: Registrovaní uživatelé
	registration:
		title: Registrace nových uživatelů
		tooltip: "Skupiny registrací uživatelů podle zdroje, odkud proběhla registrace"
	active_sub_registrations:
		title: Zdroj registrace uživatelů s aktivním předplatným
		serie: Zdroj registrace
		tooltip: "Seskupeny počty registrací uživatele s aktivním předplatným podle zdroje odkud proběhla registrace. (nerespektuje filtr dat)"
	new_or_subscribers:
		title: Registrace a předplatitelé
		tooltip: Graf popisuje počet nových registrací a kolik z nich i zaplatilo
	user_registrations: Registrace
	disabled:
		title: Deaktivovaní a nikdy nepotvrzení uživatelé
		tooltip: "Konta, která nebyla nikdy potvrzená a na základě toho byla deaktivovaná"
subscriptions:
	title: Předplatné
	new:
		title: Nové předplatné
		tooltip: "Porovnanie s celkovým počtom za zvolené obdobie. Neznamená že sú aj aktívne. Používatelia, ktorí si predĺžili predplatné môžu mať zatiaľ stále aktívne staré ale tu sa zaráta vznik nového. Počet predplatných, ktoré vznikli medzi %start% a %end%"
	ending:
		title: Končící předplatné
		tooltip: "Počet předplatných, která končí ve vybraném období (bez ohledu na to, zda je to recurrent, nebo má uživatel koupené další předplatné)."
		legend: Legenda
		now:
			title: Končící v daném období
		withnext:
			title: Končící s již existujícím následujícím
		withrecurrent:
			title: Končící s recurrentem na obnovení
		nonext:
			title: Neprodlužuje se
		between:
			tooltip: Předplatné končí mezi
		no_renew_between:
			tooltip: Vyprší bez obnovení mezi
	renewed:
		between:
			tooltip: Obnovení mezi
	renew:
		between:
			tooltip: Obnovení proběhne mezi
	difference:
		title: Pohyb předplatného
		tooltip: "Kladná čísla informují o začínajícím předplatném v daný den, záporná čísla vykazují skončená předplatná v daný den"
	by_type:
		title: Zakoupené předplatné
		tooltip: Počet zakoupených předplatných podle typu předplatného
	only_new_by_type:
		title: Nově zakoupené předplatné
		tooltip: "Počet nově zakoupených předplatných podle typu předplatného (bez automatického obnovení)"
	started: Začínající předplatné
	access:
		title: Rozdělení předplatného podle úrovně přístupu
		tooltip: Zobrazuje počet aktivních uživatelů s předplatným s daným přístupem
money:
	title: Suma peněz
	tooltip: Suma všech plateb
payments:
	sum:
		title: Suma peněz
		tooltip: Porovnanie s celkovým počtom za zvolené obdobie. Suma všetkých platieb v stave PAID zaplatených v čase od %start% do %end%
	gateways:
		title: Platební brány
		tooltip: Platby rozdělené podle platební brány
	recurrent:
		title: Automaticky opakované platby
		tooltip: Počet nových obnovovaných plateb rozdělený do automaticky obnovených a nových
		new: Nové opakované platby
		renewed: Automaticky opakované platby

	donations:
		single: Jednorázové dary
		recurrent: Opakované platby
		title: Dary při platbách
		tooltip: "Suma peněz, které lidé dobrovolně darovali při platbě"
	refunds:
		title: Suma refundací
		tooltip: Suma všech plateb ve stavu REFUND vrácených v čase
	registration:
		title: Zdroj registrace
		tooltip: Původní zdroj registrace uživatelů s novou platbou
logins:
	total:
		title: Celkový počet přihlášení
		tooltip: "Celkový počet přihlášení na webu, v aplikacích a v coverpage"
content_share:
	shares:
		title: Celkový počet sdílení
		tooltip: Unikátní počet všech sdílení podle článku a podle uživatelů
	clicks:
		title: Celkové počty kliknutí a registrací
		tooltip: Kliknutí na sdílené linky a nové registrace
	new_users:
		title: Noví uživatelé prostřednictvím sdílení obsahu
		tooltip: Noví uživatelé zaregistrovaní prostřednictvím linku na sdílený obsah
		clicks: Celkové otevření
	total:
		title: Počet všech sdílení
		tooltip: unikátní počet všech sdílení
	users:
		title: Sdílející uživatelé
		tooltip: Unikátní počet sdílejících uživatelů
	articles:
		title: Sdílené články
		tooltip: Unikátní počet sdílených článků
shop:
	products:
		title: Produkty
		tooltip: Počet prodaných produktů
